In [ ]:
#Logistic Regression
'''
The purpose of this program is to show how Logistic Regressor works to predict the Dependent Variable. 
'''

In [24]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [25]:
#Loading the Dataset
loadDataset = pd.read_csv("Downloads/Logit.csv")
loadDataset.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [26]:
loadDataset.describe()

            User ID         Age  EstimatedSalary   Purchased
count  4.000000e+02  400.000000       400.000000  400.000000
mean   1.569154e+07   37.655000     69742.500000    0.357500
std    7.165832e+04   10.482877     34096.960282    0.479864
min    1.556669e+07   18.000000     15000.000000    0.000000
25%    1.562676e+07   29.750000     43000.000000    0.000000
50%    1.569434e+07   37.000000     70000.000000    0.000000
75%    1.575036e+07   46.000000     88000.000000    1.000000
max    1.581524e+07   60.000000    150000.000000    1.000000

In [27]:
#Parting the dataset into X and y
X = loadDataset.iloc[:,[2,3]].values
y = loadDataset.iloc[:,4].values
#print(X)
#print(y)

In [29]:
#Generating Train and Test Dataset
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.25,random_state = 0)
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(300, 2)
(300,)
(100, 2)
(100,)

In [30]:
#Performing Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)
#print(X_test)

/Users/punchh_gourav/Documents/Anaconda/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
/Users/punchh_gourav/Documents/Anaconda/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
/Users/punchh_gourav/Documents/Anaconda/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
/Users/punchh_gourav/Documents/Anaconda/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [31]:
#Creating Logistic Model 
from sklearn.linear_model import LogisticRegression
logisticRegressionModel = LogisticRegression(random_state = 0)
logisticRegressionModel.fit(X_train,y_train)

/Users/punchh_gourav/Documents/Anaconda/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=0, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [32]:
#Predict the test set
logisticRegressionModelPrediction = logisticRegressionModel.predict(X_test)

In [33]:
#Evaluating the model using confusion matrix
from sklearn.metrics import confusion_matrix
confusionMatrix = confusion_matrix(y_test,logisticRegressionModelPrediction)
confusionMatrix

array([[63,  5],
       [ 7, 25]])

In [35]:
#Calculating the Accuracy 
from sklearn.metrics import accuracy_score 
print ('Accuracy:', accuracy_score(y_test, logisticRegressionModelPrediction))

Accuracy: 0.88